
img{
    border: 3px solid black;
}
.mainBody {
    border: 3px solid black;
    background-image: url("../images/bgQuiz2.jpg");
     margin-top: 10px;
    padding-bottom: 30px;
}

.myheader{
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content {
    background-color: whitesmoke;
}

